.post-header {
  padding-bottom: rem(24);
  margin-bottom: rem(42);
  border-bottom: 1px solid #404756;

  .tag-wrapper {
    display: flex;
    align-items: center;
    gap: rem(22);
    margin-bottom: rem(20);

    a {
      color: $color-primary;
      font-style: italic;
    }
  }

  h1 {
    color: $color-text;
    font-size: $title-large;
  }

  .created-at,
  .sumary-wrapper {
    color: $color-text;
  }

  .created-by {
    color: $color-primary;
  }

  .created-at {
    margin-top: 8px;
  }

  .sumary-wrapper {
    margin: rem(26) 0;

    > p {
      font-weight: 300;
    }
  }
}
