.nav-wrapper {
  padding: rem(14) 0;
  border-bottom: 1px solid #404756;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-items {
    display: flex;
    align-items: center;
    gap: rem(40);
  }

  .menu-item {
    color: $color-text;
    font-weight: bold;

    padding: 0.7rem 0.75rem;
    border-radius: 22px;

    transition-property: color, background;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    &.active-page {
      padding: 0.7rem 0.75rem;
      background-color: rgba(2, 101, 151, 0.2);
      color: $color-primary;
    }

    @media (hover: hover) {
      &:hover {
        background-color: rgba(2, 101, 151, 0.2);
        color: $color-primary;
      }
    }
  }

  .button-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(38);
    height: rem(38);
    border-radius: 50%;
    transition: background-color 0.4s ease;

    @media (hover: hover) {
      &:hover {
        background-color: rgba(180, 180, 180, 0.5);
      }
    }
  }
}
