.nav-wrapper {
  padding: rem(11) 0;
  border-bottom: 1px solid #404756;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-items,
  .menu-wrapper {
    display: flex;
    align-items: center;
    gap: rem(12);
    position: relative;
  }

  .menu-items {
    position: fixed;
    height: 100dvh;
    top: 0;
    right: -100%;
    background-color: $color-secondary;
    flex-direction: column;
    z-index: 4;
    visibility: 0;
    overflow: hidden;
    width: 70%;

    padding: rem(100) rem(16);

    transition-property: right, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    &.is-open {
      right: 0;
      visibility: 1;
    }
  }

  .menu-item {
    color: $color-text;
    font-weight: bold;

    padding: 0.7rem 0.75rem;
    border-radius: 22px;

    transition-property: color, background;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    width: 100%;
    text-align: right;

    &.active-page {
      padding: 0.7rem 0.75rem;
      background-color: $color-text;
      color: $color-background;
    }
  }

  .button-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.55rem;
    border-radius: 50%;
    transition: background-color 0.4s ease;

    @media (hover: hover) {
      &:hover {
        background-color: rgba(2, 101, 151, 0.2);
      }
    }
  }

  .menu-mobile {
    width: 24px;
    height: 22px;
    display: flex;
    position: sticky;
    z-index: 5;
    right: 0;

    span {
      background-color: $color-text;
      width: 100%;
      height: 2px;
      position: absolute;
      transition: top 0.3s ease;

      &:first-child {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 50%;
        left: 0;
        opacity: 1;
        transform: translateY(-50%);
      }

      &:last-child {
        bottom: 0;
        left: 0;
      }
    }

    &.is-open {
      span {
        &:first-child {
          top: 10px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          top: 10px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media (min-width: $breakpoint-small) {
  .nav-wrapper {
    .menu-items {
      gap: rem(40);
    }

    .menu-items {
      height: auto;
      background-color: unset;
      position: relative;
      flex-direction: row;
      width: 100%;
      padding: 0;
      right: 0;
    }

    .menu-item {
      &.active-page {
        background-color: rgba(2, 101, 151, 0.2);
        color: $color-primary;
      }

      @media (hover: hover) {
        &:hover {
          background-color: rgba(2, 101, 151, 0.2);
          color: $color-primary;
        }
      }
    }

    .menu-mobile {
      color: white;
      display: none;
    }
  }
}
