.footer-wrapper {
  border-top: 1px solid #404756;
  .footer-container {
    padding: rem(28) 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-text;

    a {
      color: $color-primary;
    }
  }
}
