.post-section {
  .post-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .post-card-item {
    padding: rem(20) rem(14);

    border: 1px solid #404756;
    border-radius: 12px;

    h3 {
      color: $color-text;
      font-family: var(--font-fugaz-one);
      font-size: $title-small;
      margin-bottom: 12px;
    }
  }

  .post-summary {
    color: $color-text;
    overflow: hidden;
    margin-bottom: 20px;

    text-overflow: ellipsis;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    &::after {
      content: '...';
    }
  }

  .tag-wrapper {
    display: flex;
    align-items: center;
    gap: rem(15);
    margin-bottom: 12px;

    a {
      color: $color-primary;
      font-style: italic;
    }
  }

  .created-by {
    color: $color-text;
    margin-bottom: rem(20);
  }

  .read-more {
    color: $color-primary;
    font-weight: 700;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media (min-width: $breakpoint-small) {
  .post-section {
    .post-card-item {
      padding: rem(25);
    }
  }
}
